In [2]:
import pandas as pd
import numpy as np
import os
import json
import time

This project includes data and content that are licensed under the Creative Commons Attribution 4.0 International (CC BY 4.0) License.

Remove rows in the population dataset that represent regions (rows with all-uppercase "Geography" values). We will focus only on countries and rename 'Geography' to 'country' for merging.

## Step 1: Getting Article Quality Predictions

In [3]:

# construct path file
politicians_df = pd.read_csv('politicians_by_country_AUG.2024.csv')
population_df = pd.read_csv('population_by_country_AUG.2024.csv')

# identify the countries (without the region rows)
country_population_df = population_df[~population_df['Geography'].str.isupper()]
country_population_df.rename(columns={'Geography': 'country'}, inplace=True)

/var/folders/p8/09r2qr956s5d5st07s90ws340000gn/T/ipykernel_28108/1161406892.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_population_df.rename(columns={'Geography': 'country'}, inplace=True)

This step extracts the article titles from the URLs in the politicians dataset and applies the function to fetch the revision IDs for each article.

In [4]:
import requests

def get_revision_id(article_title):
    """
    Fetches the current revision ID for a Wikipedia article using the Wikipedia API.
    Handles errors and missing pages.
    """
    url = "https://en.wikipedia.org/w/api.php"

    params = {
        "action": "query",
        "prop": "revisions",
        "titles": article_title,
        "rvprop": "ids",
        "format": "json"
    }

    try:
        # Make the API request
        response = requests.get(url, params=params)
        response.raise_for_status()  # Check if the request was successful
        
        # Parse the JSON response and return the revision ID
        data = response.json()
        pages = data.get("query", {}).get("pages", {})
        
        for page_id, page_info in pages.items():
            if 'missing' in page_info:
                return f"Error: The article '{article_title}' does not exist."
            return page_info.get("revisions", [{}])[0].get("revid", "No revision ID found.")

    except requests.exceptions.RequestException as e:
        # Handle any request exceptions (e.g., network issues, invalid response)
        return f"Error: {e}"

politicians_df['article_title'] = politicians_df['url'].str.split('/').str[-1]

# Apply the get_revision_id function to the 'article_title' column
politicians_df['revision_id'] = politicians_df['article_title'].apply(get_revision_id)

politicians_df

,name,url,country,article_title,revision_id
0,Majah Ha Adrif,https://en.wikipedia.org/wiki/Majah_Ha_Adrif,Afghanistan,Majah_Ha_Adrif,1233202991
1,Haroon al-Afghani,https://en.wikipedia.org/wiki/Haroon_al-Afghani,Afghanistan,Haroon_al-Afghani,1230459615
2,Tayyab Agha,https://en.wikipedia.org/wiki/Tayyab_Agha,Afghanistan,Tayyab_Agha,1225661708
3,Khadija Zahra Ahmadi,https://en.wikipedia.org/wiki/Khadija_Zahra_Ah...,Afghanistan,Khadija_Zahra_Ahmadi,1234741562
4,Aziza Ahmadyar,https://en.wikipedia.org/wiki/Aziza_Ahmadyar,Afghanistan,Aziza_Ahmadyar,1195651393
...,...,...,...,...,...
7150,Josiah Tongogara,https://en.wikipedia.org/wiki/Josiah_Tongogara,Zimbabwe,Josiah_Tongogara,1203429435
7151,Langton Towungana,https://en.wikipedia.org/wiki/Langton_Towungana,Zimbabwe,Langton_Towungana,1246280093
7152,Sengezo Tshabangu,https://en.wikipedia.org/wiki/Sengezo_Tshabangu,Zimbabwe,Sengezo_Tshabangu,1228478288
7153,Herbert Ushewokunze,https://en.wikipedia.org/wiki/Herbert_Ushewokunze,Zimbabwe,Herbert_Ushewokunze,959111842
7154,Denis Walker,https://en.wikipedia.org/wiki/Denis_Walker,Zimbabwe,Denis_Walker,1247902630

## Step 2: Getting Article Quality Predictions

This step sets up the necessary constants for making ORES API requests to fetch the quality score predictions for each article based on its revision ID.

In [6]:
USERNAME = "salahelbakri"
ACCESS_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiI5OTdmMzMxYjI5NjNmYmM2YmYyODY3MWRiODM3YzQzMiIsImp0aSI6IjY4MmIzMzQ5YzNhMWNhMzU5YjY3ZTQ2YzE5MWY2NzRlZDU5ZmVlMzRkNDRkZDM5ZTE5MjI2ZDExMDQ3MzAzN2Y0NTEyN2RlY2JkZmM5YzAxIiwiaWF0IjoxNzI4ODQ4MjU0LjQ5MDMyNywibmJmIjoxNzI4ODQ4MjU0LjQ5MDMzMSwiZXhwIjoxNzI4ODYyNjU0LjQ4NTk4Miwic3ViIjoiNzY2ODgzNDgiLCJpc3MiOiJodHRwczovL21ldGEud2lraW1lZGlhLm9yZyIsInJhdGVsaW1pdCI6eyJyZXF1ZXN0c19wZXJfdW5pdCI6NTAwMCwidW5pdCI6IkhPVVIifSwic2NvcGVzIjpbImJhc2ljIiwiY3JlYXRlZWRpdG1vdmVwYWdlIiwiZWRpdHByb3RlY3RlZCJdfQ.V1um1Wl_MDE3W1PWld8JIK9SjQvo-BJnNfnO7sZ8s9ggNo9Ou2GWmoJIvfkVPQuwpLoOOAaEYw7Qp_fSD2b_wBokhj8UuAQ_QvcLtDEDikGPZOs7V7yMRalKmlT12QWmWobGmC00mpaZa6-Caux81EimrX3YDdpDjVS9odXfWfmQuovmpHj2QvH020nm7CK3ZCgBofrqhaetchDMXOH891MRSPWPLdE3fkUyx_v16sfSHq5IGrxN81-8jZmgTvaZ-U-AMjZo5A_W0jffZzOPqW68j3yx-pPsN_OJegO6QTJWHI5wBbFYpBbXaYmHR_MkVpqfkLfTOP8_qBwoSjVn8zE52pZ-nfezsliraNQmUX1FNNoY6T7n6av-iYhxKra0SPy9crjUcx95aQoO704mNDYCc1m46bkpcVAYH1FiGZlri6cy7wCmjsET7cUe8RnWcskxhg4DciHGVZjwfy_C2wwVKJbsoFdyLSSGmwWMD5wl-vb4wzLa-Q0v_xQ_Ok2KOKxNZQCcs5fKCFsf82cHvFSIxcIOdl1JplMoXNflff92DtGPgDg7aLAYspZsjBpbz4QqrjMciJTfag6sDkYX_9NRx8O4n72hkrL3kX8-DPLnbqJ2Ww4FMyiCLp84zMUm6SrMcZ35CYPdaCvqI8SKLb9gxp6vLjWHtQ1rxeGtvRE"

#########
#
#    CONSTANTS
#

#    The current LiftWing ORES API endpoint and prediction model
#
API_ORES_LIFTWING_ENDPOINT = "https://api.wikimedia.org/service/lw/inference/v1/models/{model_name}:predict"
API_ORES_EN_QUALITY_MODEL = "enwiki-articlequality"

#
#    The throttling rate is a function of the Access token that you are granted when you request the token. The constants
#    come from dissecting the token and getting the rate limits from the granted token. An example of that is below.
#
API_LATENCY_ASSUMED = 0.002       # Assuming roughly 2ms latency on the API and network
API_THROTTLE_WAIT = ((60.0*60.0)/5000.0)-API_LATENCY_ASSUMED  # The key authorizes 5000 requests per hour

#    When making automated requests we should include something that is unique to the person making the request
#    This should include an email - your UW email would be good to put in there
#    
#    Because all LiftWing API requests require some form of authentication, you need to provide your access token
#    as part of the header too
#
REQUEST_HEADER_TEMPLATE = {
    'User-Agent': "<{email_address}>, University of Washington, MSDS DATA 512 - AUTUMN 2024",
    'Content-Type': 'application/json',
    'Authorization': "Bearer {access_token}"
}
#
#    This is a template for the parameters that we need to supply in the headers of an API request
#
REQUEST_HEADER_PARAMS_TEMPLATE = {
    'email_address' : "",         # your email address should go here
    'access_token'  : ""          # the access token you create will need to go here
}

#
#    A dictionary of English Wikipedia article titles (keys) and sample revision IDs that can be used for this ORES scoring example
#
ARTICLE_REVISIONS = { 'Bison':1085687913 , 'Northern flicker':1086582504 , 'Red squirrel':1083787665 , 'Chinook salmon':1085406228 , 'Horseshoe bat':1060601936 }

#
#    This is a template of the data required as a payload when making a scoring request of the ORES model
#
ORES_REQUEST_DATA_TEMPLATE = {
    "lang":        "en",     # required that its english - we're scoring English Wikipedia revisions
    "rev_id":      "",       # this request requires a revision id
    "features":    True
}

#
#    These are used later - defined here so they, at least, have empty values
#
USERNAME = ""
ACCESS_TOKEN = ""
#

def request_ores_score_per_article(article_revid = None, email_address=None, access_token=None,
                                   endpoint_url = API_ORES_LIFTWING_ENDPOINT, 
                                   model_name = API_ORES_EN_QUALITY_MODEL, 
                                   request_data = ORES_REQUEST_DATA_TEMPLATE, 
                                   header_format = REQUEST_HEADER_TEMPLATE, 
                                   header_params = REQUEST_HEADER_PARAMS_TEMPLATE):
    
    #    Make sure we have an article revision id, email and token
    #    This approach prioritizes the parameters passed in when making the call
    if article_revid:
        request_data['rev_id'] = article_revid
    if email_address:
        header_params['email_address'] = email_address
    if access_token:
        header_params['access_token'] = access_token
    
    #   Making a request requires a revision id - an email address - and the access token
    if not request_data['rev_id']:
        raise Exception("Must provide an article revision id (rev_id) to score articles")
    if not header_params['email_address']:
        raise Exception("Must provide an 'email_address' value")
    if not header_params['access_token']:
        raise Exception("Must provide an 'access_token' value")
    
    # Create the request URL with the specified model parameter - default is a article quality score request
    request_url = endpoint_url.format(model_name=model_name)
    
    # Create a compliant request header from the template and the supplied parameters
    headers = dict()
    for key in header_format.keys():
        headers[str(key)] = header_format[key].format(**header_params)
    
    # make the request
    try:
        # we'll wait first, to make sure we don't exceed the limit in the situation where an exception
        # occurs during the request processing - throttling is always a good practice with a free data
        # source like ORES - or other community sources
        if API_THROTTLE_WAIT > 0.0:
            time.sleep(API_THROTTLE_WAIT)
        #response = requests.get(request_url, headers=headers)
        response = requests.post(request_url, headers=headers, data=json.dumps(request_data))
        json_response = response.json()
    except Exception as e:
        print(e)
        json_response = None
    return json_response

In [7]:
import requests
import pandas as pd
from concurrent.futures import ThreadPoolExecutor, as_completed

# Wikipedia API URL to get revision ID
WIKIPEDIA_API_URL = "https://en.wikipedia.org/w/api.php"

# ORES API URL template
ORES_API_URL = "https://ores.wikimedia.org/v3/scores/{wiki}/{revid}?models=articlequality"

# Session for making requests
session = requests.Session()

# Error log to keep track of articles for which ORES score retrieval failed
error_log = []

def get_quality_score(revision_id, article_title):
    """
    Fetches the quality score from ORES for a given revision ID.
    Ensures the revision ID is passed as an integer to avoid unprocessable entity errors.
    Handles missing (NaN) revision IDs.
    Logs articles to error_log if ORES score retrieval fails.
    """
    if pd.isna(revision_id):
        error_log.append(article_title)  # Log article with missing revision ID
        return "No revision ID"
    
    try:
        # Convert revision_id to an integer
        revision_id = int(revision_id)
    except ValueError:
        error_log.append(article_title)  # Log invalid revision ID
        return "Invalid revision ID"
    
    # Clear any session cookies to avoid state issues
    session.cookies.clear()
    
    # Format the URL with the correct revision ID
    url = ORES_API_URL.format(wiki='enwiki', revid=revision_id)
    
    try:
        response = session.get(url)
        response.raise_for_status()  # Check if the request was successful

        data = response.json()
        score = data.get('enwiki', {}).get('scores', {}).get(str(revision_id), {}).get('articlequality', {}).get('score', {}).get('prediction', None)
        
        if score:
            return score
        else:
            error_log.append(article_title)  # Log articles with no quality score found
            return "No quality score found"
    except requests.exceptions.RequestException as e:
        error_log.append(article_title)  # Log articles with request errors
        return "Error fetching score"

# Function to handle parallel requests
def parallel_requests(df, max_workers=10):
    """
    Use ThreadPoolExecutor to fetch quality scores in parallel.
    """
    quality_scores = []
    
    # Use ThreadPoolExecutor to handle parallel requests
    with ThreadPoolExecutor(max_workers=max_workers) as executor:
        # Submit all tasks
        futures = {executor.submit(get_quality_score, row['revision_id'], row['article_title']): row['revision_id'] for _, row in df.iterrows()}
        
        for future in as_completed(futures):
            try:
                quality_scores.append(future.result())
            except Exception as exc:
                print(f"Exception occurred: {exc}")
    
    return quality_scores

# Apply the parallel requests function to the 'revision_id' column
politicians_df['quality_score'] = parallel_requests(politicians_df)

# Final dataFrame with revision IDs and quality scores
politicians_df

# Step to save the error log to a text file after completing the loop
with open('error_log.txt', 'w') as f:
    for article in error_log:
        f.write(f"{article}\n")

print(f"Error log saved with {len(error_log)} entries.")

Error log saved with 23 entries.

Now we find missing scores and compute the error rate.

In [8]:
# Define what counts as a missing or invalid score
def is_missing_score(quality_score):
    """
    Identifies missing or invalid quality scores.
    """
    return quality_score in ["No quality score found", "No revision ID", "Error fetching score", "Invalid revision ID"]

# Filter articles for which ORES score could not be retrieved
missing_score_df = politicians_df[politicians_df['quality_score'].apply(is_missing_score)]

# Compute the error rate
total_articles = len(politicians_df)
articles_with_missing_scores = len(missing_score_df)
error_rate = articles_with_missing_scores / total_articles

# error rate is
print(f"\nError rate: {error_rate * 100:.2f}% ({articles_with_missing_scores} out of {total_articles} articles)")

Error rate: 0.32% (23 out of 7155 articles)

Below are the articles with missing ORES scores

In [9]:
missing_score_df

,name,url,country,article_title,revision_id,quality_score
421,Leopold Berchtold,https://en.wikipedia.org/wiki/Leopold_Berchtold,Austria,Leopold_Berchtold,1228353209,Invalid revision ID
507,Bakhish bey Rustambeyov,https://en.wikipedia.org/wiki/Bakhish_bey_Rust...,Azerbaijan,Bakhish_bey_Rustambeyov,1246060690,Invalid revision ID
1191,Khin Kyaw Han,https://en.wikipedia.org/wiki/Khin_Kyaw_Han,Myanmar,Khin_Kyaw_Han,1036478390,Invalid revision ID
1333,John Ebong Ngole,https://en.wikipedia.org/wiki/John_Ebong_Ngole,Cameroon,John_Ebong_Ngole,1151361877,Invalid revision ID
1943,Matías Ramón Mella,https://en.wikipedia.org/wiki/Matías_Ramón_Mella,Dominican Republic,Matías_Ramón_Mella,1246218102,Error fetching score
1946,José Ignacio Paliza,https://en.wikipedia.org/wiki/José_Ignacio_Paliza,Dominican Republic,José_Ignacio_Paliza,1246218251,Invalid revision ID
1970,Alfredo Pires,https://en.wikipedia.org/wiki/Alfredo_Pires,Timor Leste,Alfredo_Pires,1242893918,Error fetching score
2189,Eddy Casterman,https://en.wikipedia.org/wiki/Eddy_Casterman,France,Eddy_Casterman,1242211173,Error fetching score
2409,Henry Ernest of Stolberg-Wernigerode,https://en.wikipedia.org/wiki/Henry_Ernest_of_...,Germany,Henry_Ernest_of_Stolberg-Wernigerode,1230350617,Error fetching score
2418,Curt Wach,https://en.wikipedia.org/wiki/Curt_Wach,Germany,Curt_Wach,1227609154,Invalid revision ID
3191,Giuseppe Govone,https://en.wikipedia.org/wiki/Giuseppe_Govone,Italy,Giuseppe_Govone,1240175269,Error fetching score
3314,Kiyoharu Ishiwata,https://en.wikipedia.org/wiki/Kiyoharu_Ishiwata,Japan,Kiyoharu_Ishiwata,1238651325,Error fetching score
3568,Winnie Odinga,https://en.wikipedia.org/wiki/Winnie_Odinga,Kenya,Winnie_Odinga,1218536702,Error fetching score
3699,Akbaraly Aitikeev,https://en.wikipedia.org/wiki/Akbaraly_Aitikeev,Kyrgyzstan,Akbaraly_Aitikeev,1015639087,Error fetching score
3859,Antanas Karoblis,https://en.wikipedia.org/wiki/Antanas_Karoblis,Lithuania,Antanas_Karoblis,1167910942,Error fetching score
3873,Vytautas Matulevičius,https://en.wikipedia.org/wiki/Vytautas_Matulev...,Lithuania,Vytautas_Matulevičius,1177313320,Error fetching score
4487,Joe Acha,https://en.wikipedia.org/wiki/Joe_Acha,Nigeria,Joe_Acha,1246220433,Invalid revision ID
5024,Luis Felipe de Las Casas Grieve,https://en.wikipedia.org/wiki/Luis_Felipe_de_L...,Peru,Luis_Felipe_de_Las_Casas_Grieve,1246359746,No quality score found
5166,Józef Rymer,https://en.wikipedia.org/wiki/Józef_Rymer,Poland,Józef_Rymer,1075462370,No quality score found
5217,António Alves Martins,https://en.wikipedia.org/wiki/António_Alves_Ma...,Portugal,António_Alves_Martins,1168807397,No quality score found
5219,Vítor Alves (soldier),https://en.wikipedia.org/wiki/Vítor_Alves_(sol...,Portugal,Vítor_Alves_(soldier),1235684279,No quality score found
5710,Abshir Aden Ferro,https://en.wikipedia.org/wiki/Abshir_Aden_Ferro,Somalia,Abshir_Aden_Ferro,1249386156,Invalid revision ID
6907,Hector Luisi,https://en.wikipedia.org/wiki/Hector_Luisi,Uruguay,Hector_Luisi,1192169906,No quality score found

## Step 3: Combining the Datasets

In [10]:
region_df = population_df[population_df['Geography'].str.isupper()].copy()
region_df.rename(columns={'Geography': 'region'}, inplace=True)


# Create a dictionary to map countries to their regions
region_mapping = {}

# Map each country to the corresponding region
for i, row in region_df.iterrows():
    region = row['region']
    # Get the countries that appear before the next region
    country_indices = country_population_df.index[(country_population_df.index > i) & 
                                                  ((country_population_df.index < region_df.index[region_df.index > i].min()) 
                                                   | pd.isna(region_df.index[region_df.index > i].min()))]
    country_population_df.loc[country_indices, 'region'] = region

# Merge the Wikipedia data (politicians_df) with the population data (country_population_df) on the 'country' field
merged_df = pd.merge(politicians_df, country_population_df, on='country', how='outer')

# Select the required columns and rename 'quality_score' to 'article_quality' for clarity
final_df = merged_df[['country', 'region', 'Population', 'article_title', 'revision_id', 'quality_score']]

# Rename 'quality_score' to 'article_quality'
final_df.rename(columns={'quality_score': 'article_quality'}, inplace=True)

/var/folders/p8/09r2qr956s5d5st07s90ws340000gn/T/ipykernel_28108/1727045885.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_population_df.loc[country_indices, 'region'] = region
/var/folders/p8/09r2qr956s5d5st07s90ws340000gn/T/ipykernel_28108/1727045885.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.rename(columns={'quality_score': 'article_quality'}, inplace=True)

In [12]:
# Perform an outer join to keep all rows and add the _merge column
merged_df = pd.merge(politicians_df, country_population_df, on='country', how='outer', indicator=True)

# Debug: Print the merged DataFrame and its columns to verify
print(merged_df.head())
print("Columns in merged_df:", merged_df.columns)

# Identify unmatched countries
wp_unmatched_countries = merged_df[merged_df['_merge'] != 'both']

# Extract unmatched Wikipedia countries (countries that were in Wikipedia dataset but not in the population dataset)
wp_no_match_countries = wp_unmatched_countries[wp_unmatched_countries['_merge'] == 'left_only']['country'].dropna().unique()

# Output the list of unmatched countries to a text file
with open('wp_countries-no_match.txt', 'w') as f:
    for country in wp_no_match_countries:
        f.write(f"{country}\n")

# Filter the successfully merged entries (rows that matched in both datasets)
merged_successful_df = merged_df[merged_df['_merge'] == 'both']

# Select only the necessary columns for the final output
final_df = merged_successful_df[['country', 'region', 'Population', 'article_title', 'revision_id', 'quality_score']]

# Rename 'quality_score' to 'article_quality'
final_df.rename(columns={'quality_score': 'article_quality'}, inplace=True)
final_df.rename(columns={'Population': 'population'}, inplace=True)

# Save the final consolidated data to a CSV file
final_df.to_csv('wp_politicians_by_country.csv', index=False)

# Print the final DataFrame for verification
final_df

                   name                                                url  \
0        Majah Ha Adrif       https://en.wikipedia.org/wiki/Majah_Ha_Adrif
1     Haroon al-Afghani    https://en.wikipedia.org/wiki/Haroon_al-Afghani
2           Tayyab Agha          https://en.wikipedia.org/wiki/Tayyab_Agha
3  Khadija Zahra Ahmadi  https://en.wikipedia.org/wiki/Khadija_Zahra_Ah...
4        Aziza Ahmadyar       https://en.wikipedia.org/wiki/Aziza_Ahmadyar

       country         article_title revision_id quality_score  Population  \
0  Afghanistan        Majah_Ha_Adrif  1233202991         Start        42.4
1  Afghanistan     Haroon_al-Afghani  1230459615         Start        42.4
2  Afghanistan           Tayyab_Agha  1225661708         Start        42.4
3  Afghanistan  Khadija_Zahra_Ahmadi  1234741562         Start        42.4
4  Afghanistan        Aziza_Ahmadyar  1195651393         Start        42.4

       region _merge
0  SOUTH ASIA   both
1  SOUTH ASIA   both
2  SOUTH ASIA   both
3  SOUTH ASIA   both
4  SOUTH ASIA   both
Columns in merged_df: Index(['name', 'url', 'country', 'article_title', 'revision_id',
       'quality_score', 'Population', 'region', '_merge'],
      dtype='object')

/var/folders/p8/09r2qr956s5d5st07s90ws340000gn/T/ipykernel_28108/1920675488.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.rename(columns={'quality_score': 'article_quality'}, inplace=True)
/var/folders/p8/09r2qr956s5d5st07s90ws340000gn/T/ipykernel_28108/1920675488.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.rename(columns={'Population': 'population'}, inplace=True)

,country,region,population,article_title,revision_id,article_quality
0,Afghanistan,SOUTH ASIA,42.4,Majah_Ha_Adrif,1233202991,Start
1,Afghanistan,SOUTH ASIA,42.4,Haroon_al-Afghani,1230459615,Start
2,Afghanistan,SOUTH ASIA,42.4,Tayyab_Agha,1225661708,Start
3,Afghanistan,SOUTH ASIA,42.4,Khadija_Zahra_Ahmadi,1234741562,Start
4,Afghanistan,SOUTH ASIA,42.4,Aziza_Ahmadyar,1195651393,Start
...,...,...,...,...,...,...
7150,Zimbabwe,EASTERN AFRICA,16.7,Josiah_Tongogara,1203429435,Start
7151,Zimbabwe,EASTERN AFRICA,16.7,Langton_Towungana,1246280093,C
7152,Zimbabwe,EASTERN AFRICA,16.7,Sengezo_Tshabangu,1228478288,Start
7153,Zimbabwe,EASTERN AFRICA,16.7,Herbert_Ushewokunze,959111842,C
7154,Zimbabwe,EASTERN AFRICA,16.7,Denis_Walker,1247902630,Start

## Step 4: Analysis

Calculating total-articles-per-capita (a ratio representing the number of articles per person)  and high-quality-articles-per-capita (a ratio representing the number of high quality articles per person) on a country-by-country and regional basis

In [13]:
# Define high-quality articles ("FA" and "GA" are considered high quality)
high_quality = ['FA', 'GA']

# Convert population from millions to actual population (multiply by 1,000,000)
final_df['population'] = final_df['population'] * 1_000_000

# Calculate high-quality articles (1 if high quality, 0 otherwise)
final_df['is_high_quality'] = final_df['article_quality'].apply(lambda x: 1 if x in high_quality else 0)

# Group by country and region to calculate the sums for each
analysis_df = final_df.groupby(['country', 'region', 'population'], as_index=False).agg(
    total_articles=('article_title', 'count'),
    high_quality_articles=('is_high_quality', 'sum')
)

# Calculate total articles per capita (per person)
analysis_df['total_articles_per_capita'] = analysis_df['total_articles'] / analysis_df['population']
analysis_df['high_quality_articles_per_capita'] = analysis_df['high_quality_articles'] / analysis_df['population']

# remove NaN and Inf values
analysis_df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Drop rows where 'total_articles_per_capita' or 'high_quality_articles_per_capita' are NaN
analysis_df.dropna(subset=['total_articles_per_capita', 'high_quality_articles_per_capita'], inplace=True)

# View the cleaned DataFrame
analysis_df

/var/folders/p8/09r2qr956s5d5st07s90ws340000gn/T/ipykernel_28108/2563769760.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['population'] = final_df['population'] * 1_000_000
/var/folders/p8/09r2qr956s5d5st07s90ws340000gn/T/ipykernel_28108/2563769760.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['is_high_quality'] = final_df['article_quality'].apply(lambda x: 1 if x in high_quality else 0)

,country,region,population,total_articles,high_quality_articles,total_articles_per_capita,high_quality_articles_per_capita
0,Afghanistan,SOUTH ASIA,42400000.0,85,4,2.004717e-06,9.433962e-08
1,Albania,SOUTHERN EUROPE,2700000.0,70,5,2.592593e-05,1.851852e-06
2,Algeria,NORTHERN AFRICA,46800000.0,71,2,1.517094e-06,4.273504e-08
3,Angola,MIDDLE AFRICA,36700000.0,58,2,1.580381e-06,5.449591e-08
4,Antigua and Barbuda,CARIBBEAN,100000.0,33,0,3.300000e-04,0.000000e+00
...,...,...,...,...,...,...,...
161,Venezuela,SOUTH AMERICA,28800000.0,56,1,1.944444e-06,3.472222e-08
162,Vietnam,SOUTHEAST ASIA,98900000.0,36,1,3.640040e-07,1.011122e-08
163,Yemen,WESTERN ASIA,34400000.0,32,1,9.302326e-07,2.906977e-08
164,Zambia,EASTERN AFRICA,20200000.0,3,0,1.485149e-07,0.000000e+00
165,Zimbabwe,EASTERN AFRICA,16700000.0,69,0,4.131737e-06,0.000000e+00

In [14]:
# Group by region to calculate the sums for each region
# Sum population, total articles, and high-quality articles for each region
regional_df = final_df.groupby(['region'], as_index=False).agg(
    total_population=('population', 'sum'),
    total_articles=('article_title', 'count'),
    high_quality_articles=('is_high_quality', 'sum')
)

# Calculate total articles per capita (per person) for each region
regional_df['total_articles_per_capita'] = regional_df['total_articles'] / regional_df['total_population']

# Calculate high-quality articles per capita (per person) for each region
regional_df['high_quality_articles_per_capita'] = regional_df['high_quality_articles'] / regional_df['total_population']

# Remove NaN and Inf
regional_df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Drop rows where 'total_articles_per_capita' or 'high_quality_articles_per_capita' are NaN
regional_df.dropna(subset=['total_articles_per_capita', 'high_quality_articles_per_capita'], inplace=True)

# View the cleaned DataFrame
regional_df

,region,total_population,total_articles,high_quality_articles,total_articles_per_capita,high_quality_articles_per_capita
0,CARIBBEAN,1.414900e+09,219,10,1.547813e-07,7.067637e-09
1,CENTRAL AMERICA,1.418800e+09,188,8,1.325063e-07,5.638568e-09
2,CENTRAL ASIA,1.983600e+09,106,5,5.343819e-08,2.520669e-09
3,EAST ASIA,3.741280e+10,152,3,4.062781e-09,8.018646e-11
4,EASTERN AFRICA,2.394120e+10,665,15,2.777639e-08,6.265350e-10
5,EASTERN EUROPE,2.904490e+10,709,36,2.441048e-08,1.239460e-09
6,MIDDLE AFRICA,9.524900e+09,231,7,2.425222e-08,7.349159e-10
7,NORTHERN AFRICA,1.217390e+10,302,17,2.480717e-08,1.396430e-09
8,NORTHERN EUROPE,1.162100e+09,191,9,1.643576e-07,7.744600e-09
9,OCEANIA,1.111000e+08,72,3,6.480648e-07,2.700270e-08
10,SOUTH AMERICA,3.451410e+10,569,19,1.648602e-08,5.504997e-10
11,SOUTH ASIA,2.641616e+11,670,25,2.536326e-09,9.463904e-11
12,SOUTHEAST ASIA,4.502840e+10,396,24,8.794450e-09,5.329970e-10
13,SOUTHERN AFRICA,5.954300e+09,123,7,2.065734e-08,1.175621e-09
14,SOUTHERN EUROPE,1.795660e+10,797,49,4.438479e-08,2.728802e-09
15,WESTERN AFRICA,5.898210e+10,515,13,8.731463e-09,2.204059e-10
16,WESTERN ASIA,1.336950e+10,610,27,4.562624e-08,2.019522e-09
17,WESTERN EUROPE,1.896990e+10,498,23,2.625212e-08,1.212447e-09

## Step 5: Results

Results from the analysis are show below.

1.	Top 10 countries by coverage: The 10 countries with the highest total articles per capita (in descending order) .

In [15]:
# Sort by total articles per capita and select the top 10
top_10_coverage = analysis_df.sort_values(by='total_articles_per_capita', ascending=False).head(10)
top_10_coverage

,country,region,population,total_articles,high_quality_articles,total_articles_per_capita,high_quality_articles_per_capita
4,Antigua and Barbuda,CARIBBEAN,100000.0,33,0,0.000330,0.000000
51,Federated States of Micronesia,OCEANIA,100000.0,14,0,0.000140,0.000000
93,Marshall Islands,OCEANIA,100000.0,13,0,0.000130,0.000000
149,Tonga,OCEANIA,100000.0,10,0,0.000100,0.000000
12,Barbados,CARIBBEAN,300000.0,25,1,0.000083,0.000003
125,Seychelles,EASTERN AFRICA,100000.0,6,0,0.000060,0.000000
98,Montenegro,SOUTHERN EUROPE,600000.0,36,3,0.000060,0.000005
17,Bhutan,SOUTH ASIA,800000.0,44,0,0.000055,0.000000
90,Maldives,SOUTH ASIA,600000.0,33,1,0.000055,0.000002
121,Samoa,OCEANIA,200000.0,8,1,0.000040,0.000005

2.	Bottom 10 countries by coverage: The 10 countries with the lowest total articles per capita (in ascending order) .

In [16]:
# Sort by total articles per capita and select the bottom 10
bottom_10_coverage = analysis_df.sort_values(by='total_articles_per_capita', ascending=True).head(10)
bottom_10_coverage

,country,region,population,total_articles,high_quality_articles,total_articles_per_capita,high_quality_articles_per_capita
31,China,EAST ASIA,1.411300e+09,16,0,1.133707e-08,0.000000e+00
66,India,SOUTH ASIA,1.428600e+09,151,2,1.056979e-07,1.399972e-09
57,Ghana,WESTERN AFRICA,3.410000e+07,4,1,1.173021e-07,2.932551e-08
122,Saudi Arabia,WESTERN ASIA,3.690000e+07,5,1,1.355014e-07,2.710027e-08
164,Zambia,EASTERN AFRICA,2.020000e+07,3,0,1.485149e-07,0.000000e+00
108,Norway,NORTHERN EUROPE,5.500000e+06,1,0,1.818182e-07,0.000000e+00
70,Israel,WESTERN ASIA,9.800000e+06,2,0,2.040816e-07,0.000000e+00
45,Egypt,NORTHERN AFRICA,1.052000e+08,32,1,3.041825e-07,9.505703e-09
37,Cote d'Ivoire,WESTERN AFRICA,3.090000e+07,10,0,3.236246e-07,0.000000e+00
50,Ethiopia,EASTERN AFRICA,1.265000e+08,44,2,3.478261e-07,1.581028e-08

3.	Top 10 countries by high quality: The 10 countries with the highest high quality articles per capita (in descending order) .

In [17]:
# Sort by high quality articles per capita and select the top 10
top_10_high_quality = analysis_df.sort_values(by='high_quality_articles_per_capita', ascending=False).head(10)
top_10_high_quality

,country,region,population,total_articles,high_quality_articles,total_articles_per_capita,high_quality_articles_per_capita
59,Grenada,CARIBBEAN,100000.0,2,1,0.000020,0.000010
121,Samoa,OCEANIA,200000.0,8,1,0.000040,0.000005
98,Montenegro,SOUTHERN EUROPE,600000.0,36,3,0.000060,0.000005
86,Luxembourg,WESTERN EUROPE,700000.0,27,3,0.000039,0.000004
12,Barbados,CARIBBEAN,300000.0,25,1,0.000083,0.000003
76,Kosovo,SOUTHERN EUROPE,1700000.0,26,4,0.000015,0.000002
1,Albania,SOUTHERN EUROPE,2700000.0,70,5,0.000026,0.000002
27,Cape Verde,WESTERN AFRICA,600000.0,9,1,0.000015,0.000002
92,Malta,SOUTHERN EUROPE,600000.0,1,1,0.000002,0.000002
90,Maldives,SOUTH ASIA,600000.0,33,1,0.000055,0.000002

4.	Bottom 10 countries by high quality: The 10 countries with the lowest high quality articles per capita (in ascending order).

In [18]:
# Sort by high quality articles per capita and select the bottom 10
bottom_10_high_quality = analysis_df.sort_values(by='high_quality_articles_per_capita', ascending=True).head(10)
bottom_10_high_quality

,country,region,population,total_articles,high_quality_articles,total_articles_per_capita,high_quality_articles_per_capita
165,Zimbabwe,EASTERN AFRICA,16700000.0,69,0,4.131737e-06,0.0
125,Seychelles,EASTERN AFRICA,100000.0,6,0,6.000000e-05,0.0
126,Sierra Leone,WESTERN AFRICA,8900000.0,22,0,2.471910e-06,0.0
127,Singapore,SOUTHEAST ASIA,5800000.0,4,0,6.896552e-07,0.0
55,Gambia,WESTERN AFRICA,2800000.0,18,0,6.428571e-06,0.0
130,Solomon Islands,OCEANIA,800000.0,12,0,1.500000e-05,0.0
136,St. Kitts and Nevis,CARIBBEAN,100000.0,3,0,3.000000e-05,0.0
123,Senegal,WESTERN AFRICA,18300000.0,31,0,1.693989e-06,0.0
51,Federated States of Micronesia,OCEANIA,100000.0,14,0,1.400000e-04,0.0
48,Eritrea,EASTERN AFRICA,3700000.0,15,0,4.054054e-06,0.0

5.	Geographic regions by total coverage: A rank ordered list of geographic regions (in descending order) by total articles per capita.

In [19]:
# Group by region and calculate total articles per capita for each region
region_coverage = analysis_df.groupby('region', as_index=False).agg(
    total_articles=('total_articles', 'sum'),
    population=('population', 'sum')
)

# Calculate total articles per capita for each region
region_coverage['total_articles_per_capita'] = region_coverage['total_articles'] / region_coverage['population']

# Sort by total articles per capita (descending)
region_coverage_sorted = region_coverage.sort_values(by='total_articles_per_capita', ascending=False)
print("Regions by total articles (per capita):")
print(region_coverage_sorted[['region', 'total_articles_per_capita']])

Regions by total articles (per capita):
             region  total_articles_per_capita
8   NORTHERN EUROPE               6.870504e-06
9           OCEANIA               6.396396e-06
0         CARIBBEAN               5.983607e-06
14  SOUTHERN EUROPE               5.260726e-06
1   CENTRAL AMERICA               3.664717e-06
17   WESTERN EUROPE               2.691671e-06
5    EASTERN EUROPE               2.663411e-06
16     WESTERN ASIA               2.064997e-06
13  SOUTHERN AFRICA               1.800878e-06
4    EASTERN AFRICA               1.382824e-06
10    SOUTH AMERICA               1.338824e-06
2      CENTRAL ASIA               1.318408e-06
7   NORTHERN AFRICA               1.180148e-06
15   WESTERN AFRICA               1.170189e-06
6     MIDDLE AFRICA               1.144698e-06
12   SOUTHEAST ASIA               7.020032e-07
11       SOUTH ASIA               3.301794e-07
3         EAST ASIA               9.726755e-08

6.	Geographic regions by high quality coverage: Rank ordered list of geographic regions (in descending order) by high quality articles per capita.

In [20]:
# Group by region and calculate high quality articles per capita for each region
region_high_quality_coverage = analysis_df.groupby('region', as_index=False).agg(
    high_quality_articles=('high_quality_articles', 'sum'),
    population=('population', 'sum')
)

# Calculate high quality articles per capita for each region
region_high_quality_coverage['high_quality_articles_per_capita'] = region_high_quality_coverage['high_quality_articles'] / region_high_quality_coverage['population']

# Sort by high quality articles per capita (descending)
region_high_quality_coverage_sorted = region_high_quality_coverage.sort_values(by='high_quality_articles_per_capita', ascending=False)
print("Regions by high quality articles (per capita):")
print(region_high_quality_coverage_sorted[['region', 'high_quality_articles_per_capita']])

Regions by high quality articles (per capita):
             region  high_quality_articles_per_capita
8   NORTHERN EUROPE                      3.237410e-07
14  SOUTHERN EUROPE                      3.234323e-07
0         CARIBBEAN                      2.732240e-07
9           OCEANIA                      2.702703e-07
1   CENTRAL AMERICA                      1.559454e-07
5    EASTERN EUROPE                      1.352367e-07
17   WESTERN EUROPE                      1.213458e-07
13  SOUTHERN AFRICA                      1.024890e-07
16     WESTERN ASIA                      9.140149e-08
7   NORTHERN AFRICA                      6.643220e-08
2      CENTRAL ASIA                      6.218905e-08
10    SOUTH AMERICA                      4.470588e-08
12   SOUTHEAST ASIA                      4.254565e-08
6     MIDDLE AFRICA                      3.468781e-08
4    EASTERN AFRICA                      3.119152e-08
15   WESTERN AFRICA                      2.953874e-08
11       SOUTH ASIA                      1.232013e-08
3         EAST ASIA                      1.919754e-09